body {
    background-color: lightcyan;
}


.recipe-container{
    border: 2px solid red;
    width: 30%;
    margin: 10px auto;
}


.recipe-piece {
    background-color: lawngreen;
    height: 50px;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 3%;
    margin: 10px auto;
}
