
.inline-image {
    height: 20px;
}

.btn-primary, .btn-primary:focus,  .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    color: snow;
    background-color: dimgray;
    border-color:black;
}

.jumbotron {
    background-image: url('../images/pizza.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    text-align: center;
    background-color: rgba(225, 255, 255, 0.5) ;
}